.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
    display: none;
}



.mySwiperdetails2 .swiper-button-next,
.mySwiperdetails2 .swiper-button-prev {
    top: -63px;
    color: #A5A5A5;
    margin-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    font-size: 1rem;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 1px solid #A5A5A5 !important;
    background: transparent !important;
}

.mySwiperdetails2.swiper-rtl .swiper-button-prev,
.mySwiperdetails2 .swiper-button-prev.swiper-button-disabled {
    left: 160px !important;
    right: auto !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 15px;
}